.nx/
.docker/
node_modules/
*.log
/**/README.md
Dockerfile*
.dockerignore
npm-debug.log
README.md
.next
!.next/static
!.next/standalone
.git
.cache
coverage
logs
*.md
.env
.yarn
.yarn-cache
.profile
.vscode
