body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}

/*html,*/
/*body,*/
/*#__next,*/
/*.app {*/
/*    overflow-y: auto;*/
/*    overflow-x: hidden;*/

/*    height: 100%;*/
/*    width: 100%;*/

/*    display: flex;*/
/*}*/

* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    overflow-wrap: anywhere;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.no-styles {
    font-size: inherit !important;
    line-height: inherit !important;
    font-weight: inherit !important;

    strong {
        font-weight: inherit !important;
    }
}
